POSTGRES_USER=user
POSTGRES_PASSWORD=pass
POSTGRES_DB=docdb

EMBED_MODEL=all-MiniLM-L6-v2}
RERANK_MODEL=cross-encoder/ms-marco-MiniLM-L-6-v2}
READER_MODEL=distilbert-base-cased-distilled-squad}

SECRET_KEY=$(openssl rand -base64 32)

HF_TOKEN=00000000000000

