{% extends "base.html" %}

{% block content %}
<h2>{{ doc.title }}</h2>
<p><strong>Авторы:</strong> {{ doc.authors or 'неизвестны' }}</p>
<p><strong>Год:</strong> {{ doc.year or '—' }}</p>
<p><strong>Категория:</strong> {{ doc.category or '—' }}</p>
<p><strong>Загружен:</strong> {{ doc.created_at }}</p>

<div class="pdf-viewer">
    <iframe
        src="{{ url_for('main.document_file', doc_id=doc.id) }}"
        width="100%"
        height="600px">
    </iframe>
</div>
<!-- Error with CORS( --
<div class="pdf-viewer">
    {% if file_url %}
    <iframe
        src="{{ url_for('static', filename='pdfjs/web/viewer.html') }}?file={{ file_url }}"
        width="100%"
        height="600px">
    </iframe>
    {% else %}
    <p>Unable to load PDF file.</p>
    {% endif %}
</div>
-->

<div class="actions">
    <button class="delete-btn"
        hx-delete="{{ url_for('main.delete_document', doc_id=doc.id) }}"
        hx-confirm="Вы уверены, что хотите удалить этот документ?"
        hx-target="body"
        hx-swap="none"
        hx-redirect="{{ url_for('main.index') }}">
        <i class="fas fa-trash-alt mr-2"></i> Удалить
    </button>
    <a href="{{ url_for('main.index') }}" class="button">Назад к поиску</a>
</div>
{% endblock %}

